.appointment-nav {
  background: #ffffff;
  /* linear-gradient(to right; #ffffff 90%; #3a4256 40%); */
}
.appointmentUpperDiv {
  background: url("../../resources/images/Mask\ Group\ 2.png") no-repeat;
  background-size: contain;
}
.appointment-calender {
  height: 80vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-card-holder {
  display: flex;
  flex-flow: row wrap;
}
.serviceCard {
  height: 25vmin;
  flex-basis: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 2% 1%;
  margin: 1%;
  box-shadow: 5px 5px 10px #8b8888;
}

.serviceCard h2,
.serviceCard h3 {
  font-family: "Raleway", sans-serif;
  margin: 0px;
}
